.header_admin{
    background-color: black;
    .App-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        img[alt="logo"]{
            width: clamp(3rem,4.5rem,6rem);
            margin:1rem;
            
        }
        .header_admin_item{
            display:flex;
            align-items: center;

            img[alt="avator"],img[alt="notification"]{
                width: clamp(1rem,1.7rem,2.4rem);
                margin:1rem
                
            }
           
            [data-badge] {
                position:relative;     
                &:after {
                  position:absolute;
                  right:0px;
                  top:0px;
                  min-width:10px;
                  min-height:10px;
                  line-height:10px;
                  padding:5px;
                  color:#fff;
                  background-color:#bf1f1f;
                  font-size:10px;
                  border-radius:20px;
                  content:attr(data-badge);
                  border:solid 1px #c93a3a;
                }   
              } 
           
        }
        
    }
    
    
}
.header_admin_nav {
    width: 100%;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.25rem;
    
    text-align: center;
    figure {
        width: 20%;
    
    
    }
}