.footer{
    .footer_start{
        width:60%;
        margin:1.5rem 20%;
        display: flex;
        justify-content: space-around;
        a{
            color:black;
            text-decoration: none;
        }
        img{
            width:2rem;
            margin:0.4rem;
        }
        h4{
            margin-bottom: 1rem;
        }
        h6{
            margin-bottom: 0.8rem;
        }
    }
    .footer_end{
        margin:1.5rem;
        display:flex;
        align-items: center;
        justify-content: center;
        
        span{
            margin-left: 1rem;
        }
    }

}

